@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f1f6fc31;
}

.btn {
  background-color: #4f9cf9;
  color: #fff;
  padding: 1rem 1.25rem;
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
  display: inline-block;
  transition: 0.1s;
  animation: outline-animate 1s ease-out infinite;
}
.btn:hover {
  background-color: #3580db;
  color: #fff;
}

@keyframes outline-animate {
  from {
    outline: 0px solid #4f9bf98a;
  }
  to {
    outline: 0.9375rem solid #4f9bf900;
  }
}

header {
  background-image: url("../img/background-image-servicos.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
section,
footer {
  padding: 3.375rem 0;
}

h3 {
  font-size: 2.5rem;
}

p {
  color: #0000009c;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1.25rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.625rem;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul a {
  color: #fff;
  margin: 0 1.5625rem;
  text-transform: uppercase;
  font-size: 1rem;
  display: block;
  text-decoration: none;
}

nav ul a::after {
  content: "";
  background-color: #4f9cf9;
  height: 0.1875rem;
  width: 0%;
  display: block;
  margin: 0 auto;
  transition: 0.3s;
}

nav ul a:hover:not(.btn):after {
  width: 100%;
}

nav .menu-icon {
  cursor: pointer;
  font-size: 1.875rem;
  color: #fff;
  display: none;
}

nav .close-icon {
  display: none;
  font-size: 1.875rem;
  color: #fff;
}

.banner {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 9.375rem 1.25rem;
}

.banner .banner-text {
  max-width: 900px;
  padding: 0 1.25rem;
}

.banner .banner-text h1 {
    font-size: 6rem;
    color: #fff;
}


.banner .banner-text p {
  font-size: 1.25rem;
  color: #ffffffb7;
  font-weight: lighter;
  margin: 1.125rem 0;
}

.footer {
  background-color: #4f9cf9;
  text-align: center;
  padding: 1.25rem;
}

.footer i {
  color: #4f9cf9;
  font-size: 1.1875rem;
  background-color: #fff;
  padding: 0.625rem;
  margin: 0.1875rem;
  border-radius: 0.625rem;
}

.footer p {
  margin-top: 1.25rem;
  color: #fff;
}

.social-media {
  margin-top: 1.25rem;
}

.services h3 {
  text-align: center;
}

.services .container #subtitle {
  text-align: center;
}

.services .rows-cards {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
  flex-wrap: wrap;
}

.services .card-item {
  background-color: #d3e6fd;
  width: 100%;
  max-width: 21.875rem;
  padding: 1.25rem;
  border-radius: 0.875rem;
  margin: 1.25rem;
  transition: 0.3s;
}

.services .card-item:hover {
  background-color: #4f9cf9;
}

.services .card-item img {
  background-color: #4f9cf9;
  border-radius: 0.875rem;
  width: 4.375rem;
  padding: 0.5625rem;
}

.services .card-item:hover p {
  color: #fff;
}

.services .card-item p.service-name {
  margin: 0.3125rem 0;
  transition: 0.3s;
}

.services .card-item p.service-description {
  transition: 0.3s;
}

.data-section {
  background-color: #d3e6fd;
}

.data-section .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.data-section .data-item {
  text-align: center;
  margin: 0.9375rem;
  color: #000000be;
}

.data-section .data-item img {
  background-color: #4f9cf9;
  border-radius: 0.875rem;
  padding: 0.625rem;
  margin-bottom: 0.9375rem;
  width: 5rem;
}

.data-section .data-item p {
  font-size: 1.125rem;
}

.data-section .data-item p strong {
  font-size: 1.75rem;
}

@media (max-width: 1200px) {
  .banner .banner-text h1 {
    font-size: 2.5rem;
  }
  
  .banner .banner-text p {
    font-size: 1.125rem;
  }
  
  .services .card-item {
    width: calc(50% - 2.5rem);
  }
}

@media (max-width: 830px) {
  nav ul {
    position: fixed;
    top: 0;
    left: 0;
    background: #184b88;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    clip-path: circle(0% at 100% 0);
    transition: clip-path 0.5s ease-out;
  }

  nav ul.open {
    clip-path: circle(141.4% at 100% 0);
  }

  nav ul a {
    margin: 0.625rem 0;
    font-size: 1.25rem;
  }

  nav .menu-icon {
    display: block;
  }

  nav .close-icon {
    display: block;
    position: absolute;
    top: 2.875rem;
    right: 3.125rem;
  }

  .banner {
    padding: 6.25rem 1.25rem;
  }

  .banner .banner-text h1 {
    font-size: 4rem;
  }

  .banner .banner-text p {
    font-size: 1rem;
  }

  .sobre .container {
    flex-direction: column;
    align-items: center;
  }

  .sobre .sobre-text,
  .sobre .sobre-img {
    width: 100%;
    padding: 0.625rem;
  }

  .services .card-item {
    width: 100%;
    margin: 1rem 0;
  }
}

@media (max-width: 600px) {
  .banner .banner-text h1 {
    font-size: 1.75rem;
  }

  .banner .banner-text p {
    font-size: 0.875rem;
  }

  .services .card-item {
    width: 100%;
    max-width: 18.75rem;
  }
}
